.curtain {
	width: 100vw;
	height: 100vh;
	background-color: $alien-curtain;
}
.curtain-animation {
	position: absolute;
	opacity: 1;
	transition: ease-in;
	@include animation(blackout, 1.2s, 0s, 1);
}
@keyframes blackout {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.curtain-open {
	position: absolute;
	opacity: 0;
	transition: ease-in;
	@include animation(lightup, 3s, 0s, 1);
}
@keyframes lightup {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.alien-with-beam {
	@extend %container;
	left: 87.5%;
	transform: translateX(-50%);
	z-index: 10;
	.alienBtn {
		z-index: 10;
	}
}
.beam {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 4em;
	height: 70%;
	opacity: 0;
	background-color: $alien-beam;
	.beam-gradient {
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, $alien-beam, $alien-curtain);
		background-size: 400% 400%;
		transition: ease;
		@include animation(gradient, 1s, 0s, infinite);

		box-shadow: 0px -3px 5px 5px rgba(102, 102, 83, 0.7);
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 60%;
	}
	50% {
		background-position: 100% 41%;
	}
	100% {
		background-position: 0% 60%;
	}
}

.beam-animation-down {
	top: 0;
	opacity: 1;
	@include animation(spotlight-down, 3s, 0s, 1);
}
@keyframes spotlight-down {
	0% {
		opacity: 0;
		top: -100%;
	}
	50% {
		top: 0;
	}
	100% {
		opacity: 1;
	}
}
.beam-animation-up {
	opacity: 1;
	@include animation(spotlight-up, 2.5s, 0s, 1);
}
@keyframes spotlight-up {
	0% {
		top: 0;
	}
	100% {
		top: -100%;
	}
}

.alien-animation {
	transition: ease-in;
	@include animation(travel, 4.5s, 0s, 1);
}
@keyframes travel {
	0% {
		top: 60%;
	}
	80% {
		top: -100%;
	}
	100% {
		opacity: 0;
	}
}

.alien-animation-back {
	transition: ease-out;
	@include animation(appear, 2.5s, 0s, 1);
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
