@mixin animation($name, $duration, $delay, $count) {
	-webkit-animation: $name $duration $delay $count;
	-moz-animation: $name $duration $delay $count;
	-o-animation: $name $duration $delay $count;
	-ms-animation: $name $duration $delay $count;
	animation: $name $duration $delay $count;
}

@for $i from 0 to 2 {
	.bread-animation#{$i} {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		background-image: url("../bread_brown.svg");
		background-repeat: no-repeat;
		background-size: contain;
		height: 50px;
		width: 50px;
		opacity: 0;
		// transition: ease-in;

		@include animation(jump#{$i}, 1s, 0s, 1);
	}
}

@keyframes jump0 {
	0% {
		top: 60%;
		left: 50%;
		opacity: 1;
	}
	55% {
		top: 25%;
		left: 50%;
		opacity: 0.9;
	}
	100% {
		top: 60%;
		left: 50%;
		opacity: 0;
	}
}
@keyframes jump1 {
	0% {
		top: 60%;
		left: 50%;
		opacity: 1;
	}
	10% {
		top: 60%;
		left: 50%;
		opacity: 1;
	}
	70% {
		top: 25%;
		left: 50%;
		opacity: 0.9;
	}
	100% {
		top: 60%;
		left: 50%;
		opacity: 0;
	}
}
