$heart-color: #e63946;
$heart-back: #1d3557;

$bread-color: #7f5539;
$bread-back: #f9d265;

$rocket-back: #a94e78;

$alien-back: #678d58;
$alien-curtain: #020525;
$alien-beam: #6d6d38;

%container {
	display: inline-block;
	height: 100vh;
	width: 25vw;
	position: fixed;

	img {
		background: none;
		border: 0;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 60%;
		left: 40%;
		// to test
		// transform: translateX(-50%);
		z-index: 1;
		&:hover {
			cursor: pointer;
		}
	}
}
